apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: console
  name: console
spec:
  replicas: {{ infra_count | default(1) }}
  selector:
    app: console
  strategy:
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 50%
      maxUnavailable: 50%
      timeoutSeconds: 60
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: console
    spec:
      containers:
      - image: getupcloud/web-console:v1.1
        imagePullPolicy: Always
        name: console
        env:
        ports:
        - containerPort: 8080
          protocol: TCP
        volumeMounts:
        - mountPath: /config
          name: console-config
      resources:
        requests:
            cpu: 100m
            memory: 512Gi
        limits:
            cpu: 500m
            memory: 1Gi
        terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
      - name: console-config
        configMap:
          name: console
          defaultMode: 0400
  triggers:
  - type: ConfigChange
