[
    {
        "access": "proxy",
        "basicAuth": false,
        "database": "",
        "id": 1,
        "isDefault": true,
        "jsonData": {
            "httpMethod": "GET",
            "keepCookies": []
        },
        "name": "Prometheus",
        "orgId": 1,
        "password": "",
        "readOnly": false,
        "type": "prometheus",
        "typeLogoUrl": "public/app/plugins/datasource/prometheus/img/prometheus_logo.svg",
        "url": "{{ prometheus_local_endpoint }}",
        "user": ""
    }
]
