---
- name: Create www dir
  file:
    state: directory
    path: "/var/www/"
  tags:
    - pre-install

- name: Copy assets
  copy:
    src: "files/assets/html"
    dest: "/var/www/"
    force: yes
  tags:
    - pre-install

- name: Set etcd io priority
  block:
  - lineinfile:
      path: /usr/lib/systemd/system/etcd.service
      regexp: '^{{ item }}'
      line: "{{ item }}"
      insertafter: '^ExecStart='
    with_items:
      - 'IOSchedulingClass=realtime'
      - 'IOSchedulingPriority=1'

  - command: systemctl daemon-reload

  - systemd: name=etcd state=restarted

  tags:
    - post-install
